/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}

ul, ol {list-style: none;}
a {text-align: none; color: #111;}
input, textarea {outline: none;}

#container {
    width: 100%;
    height: auto;
}

div {
    display: block;
    unicode-bidi: isolate;
}

a {
    text-decoration: none;
    color: #111;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* header */
header {
    width: 100%;
    height: auto;
    border: 1px solid blue;
    box-sizing: border-box;
}

header > div {
    width: 100%;
}

header > div > * {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

header > div:nth-child(1) {
    height: 36px;
}

header > div:nth-child(2) {
    height: 100px;
}

header > div:nth-child(3) {
    height: 54px;
}


header .top > p {
    float: right;
    margin-top: 10px;
}

header article {
    position: relative;
}

header article > .shopping {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

header article > .shopping > span:nth-of-type(1) {
    color: #ff6a00;
    font-size: 15px;
    font-weight: 500;
}

header article > .shopping > span:nth-of-type(2) {
    font-size: 12px;
}

header article > .logo {
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -173px;
}

header article > .oneday_txt {
    position: absolute;
    right: 0;
    bottom: 20px;
}

header article > .shopping > img {}

main {
    display: block;
    unicode-bidi: isolate;
    width: 100%;
    height: auto;
    border: 1px solid blue;
    box-sizing: border-box;
}

main > section {
    width: 100%;
    height: auto;
    border: 1px solid green;
    box-sizing: border-box;
}

main > section > article {
    width: 1100px;
    height: 100%;
    border: 1px solid orange;
    margin: 0 auto;
}

main > section:nth-child(1) {
    height: 352px;
}

main > section:nth-child(2) {
    height: 520px;
}

main > section:nth-child(3) {
    height: 190px;
}

main > section:nth-child(4) {
    height: 660px;
}

main > section:nth-child(5) {
    height: 200px;
}

main > section:nth-child(6) {
    height: 660px;
}

main > .slider {}

main > .go {}

main > .onday {}

main > .vegetable {}

main > .vegetable > article {}

main > .premium {}

main > .seafood {}

main > .seafood > article {}

main > .go > article {
    padding: 30px 10px;
    box-sizing: border-box;
}

main > .go div:nth-child(1) {
    width: 412px;
    height: 450px;
}

main > .go div:nth-child(2) {
    width: 322px;
    height: 220px;
    margin-left: 11px;
}

main > .go div:nth-child(3) {
    float: right;
    width: 322px;
    height: 220px;
}

main > .go div:nth-child(4) {
    width: 322px;
    height: 220px;
    margin-left: 11px;
    margin-top: 10px;
}

main > .go div:nth-child(5) {
    float: right;
    width: 322px;
    height: 220px;
    margin-top: 10px;
}

main > .go div {
    float: left;
    border: 1px solid gray;
    box-sizing: border-box;
}

main > .vegetable ul {
    width: 100%;
    height: 312px;
    border: 1px solid grey;
    box-sizing: border-box;
    overflow: hidden;
}

main > .vegetable ul > li {
    float: left;
    width: 25%;
    height: 100%;
    border: 1px solid pink;
    box-sizing: border-box;
}

main > .seafood ul {
    width: 100%;
    height: 312px;
    border: 1px solid gray;
    box-sizing: border-box;
    overflow: hidden;
}

main > .seafood ul > li {
    float: left;
    width: 25%;
    height: 100%;
    border: 1px solid pink;
    box-sizing: border-box;
}

footer {
    display: block;
    unicode-bidi: isolate;
    width: 100%;
    height: auto;
    border: 1px solid blue;
    box-sizing: border-box;
}

footer > div {
    width: 100%;
    border: 1px solid green;
    box-sizing: border-box;
}

footer > div > div {
    width: 1100px;
    height: 100%;
    border: 1px solid orange;
    box-sizing: border-box;
    margin: 0 auto;
}

footer > div:nth-child(1) {
    height: 50px;
}

footer > div:nth-child(2) {
    height: 156px;
}


